/LICENSE
/README.mkd
/fold-0-train.pages.cbor
/fold-0-train.pages.cbor-article.entity.qrels
/fold-0-train.pages.cbor-article.qrels
/fold-0-train.pages.cbor-hierarchical.entity.qrels
/fold-0-train.pages.cbor-hierarchical.qrels
/fold-0-train.pages.cbor-outlines.cbor
/fold-0-train.pages.cbor-paragraphs.cbor
/fold-0-train.pages.cbor-toplevel.entity.qrels
/fold-0-train.pages.cbor-toplevel.qrels
/titles
/topics
/train.pages.cbor
/train.pages.cbor-article.entity.qrels
/train.pages.cbor-article.qrels
/train.pages.cbor-hierarchical.entity.qrels
/train.pages.cbor-hierarchical.qrels
/train.pages.cbor-outlines.cbor
/train.pages.cbor-paragraphs.cbor
/train.pages.cbor-toplevel.entity.qrels
/train.pages.cbor-toplevel.qrels
